<button data-bs-toggle="modal" data-bs-target="#CAmodel" class="btn btn-info">
  get CA
</button>
<div id="CAmodel" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
        <h4 class="modal-title" style="text-align: center">get CA</h4>
      </div>
      <div class="modal-body">
        <app-ca-form [contratList]="contratList"></app-ca-form>>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h2>Nouveau Contrat</h2>
      <app-contrat-form></app-contrat-form>
    </div>
    <div class="col-md-8">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h1 style="text-align: center">Contrats</h1>
          <br />
          <div class="row" [hidden]="!isDeleted">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
              <div class="alert alert-info alert-dismissible">
                <button type="button" class="close" data-dismiss="alert">
                  ×
                </button>
                <strong>Contrat deleted!</strong>
              </div>
            </div>
            <div class="col-sm-4"></div>
          </div>
        </div>
        <div class="panel-body">
          <table
            class="table table-hover table-sm"
            datatable
            [dtOptions]="dtOptions"
            [dtTrigger]="dtTrigger"
          >
            <thead>
              <tr>
                <th>ID</th>
                <th>dateDebut</th>
                <th>dateFin</th>
                <th>Specialite</th>
                <th>Archive</th>
                <th>Montant (DT)</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let contrat of contratList">
                <td>{{ contrat.id }}</td>
                <td>{{ contrat.dateDebut }}</td>
                <td>{{ contrat.dateFin }}</td>
                <td>{{ contrat.specialite }}</td>
                <td>{{ contrat.archive }}</td>
                <td>{{ contrat.montant }}</td>
                <td>
                  <button (click)="delete(contrat.id)" class="btn btn-danger">
                    delete
                  </button>
                  <button
                    (click)="update(contrat)"
                    data-bs-toggle="modal"
                    data-bs-target="#myModal"
                    class="btn btn-info"
                  >
                    update
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
        <h4 class="modal-title" style="text-align: center">Update contrat</h4>
      </div>
      <div class="modal-body">
        <app-contrat-form
          [contract]="currentContract"
          [isUpdate]="true"
        ></app-contrat-form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
