<div class="container">
<h2 > Details Entreprise</h2>
<div>
    <div>
        <label for="">
            <b>Nom de l'entreprise</b> {{entreprise.nomEntreprise}}
        </label>
    </div>
    <div>
        <label for="">
            <b>Localisation de l'entreprise</b> {{entreprise.localisation}}
        </label>
    </div>
    <div>
        <label for="">
            <b>Adresse mail</b> {{entreprise.emailEntreprise}}
        </label>
    </div>
    <div>
        <label for="">
            <b>Date début Alternance</b> {{entreprise.dateDebutAlternance}}
        </label>
    </div>
    <div>
        <label for="">
            <b>Date fin Alternance</b> {{entreprise.dateFinAlternance}}
        </label>
    </div>
</div>
</div>
